{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class_="form-label") }}
        {% if not kwargs['class_'] %}
          {{ field(class_="form-control", **kwargs)|safe }}
        {% else %}
          {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="error">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_hidden(form) %}
    {{ form.hidden_tag() }}
{% endmacro %}


{% macro linked_with(links) %}
<section>
  <h3 class="heading-small">Linked to:</h3>
  <ul class="linked-list">
    {% if links %}

    {% for link in links %}
    <li class="linked-item">
      {%- if link.__class__.__name__ == 'Competency' -%}
      Competency: <a href="{{ url_for('competency.view', id=link.id) }}">{{ link.name }}</a>

      {%- elif link.entry_type == 'objective' -%}
      Objective: <a href="{{ url_for('objectives.view', id=link.id) }}">{{ link.entry.title|truncate(40) }}</a>

      {%- elif link.entry_type == 'feedback' -%}
      Feedback: <a href="{{ url_for('feedback.view_requested_feedback', id=link.id) }}">{{ link.entry.details|truncate(40) }}</a>

      {%- elif link.entry_type == 'log' -%}
      Note: <a href="{{ url_for('notes.view', id=link.id) }}">{{ link.entry.content|truncate(40) }}</a>

      {%- endif -%}

      <span class="remove-link"><a href="{{ request.path|replace('/edit', '') }}/unlink/{{ link.id }}">remove</a></span>

    </li>
    {% endfor %}

    {% endif %}
  </ul>
</section>
{% endmacro %}
