
{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  <!-- gov uk elements stylesheet -->
  {% assets "css_govuk_elements" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <!-- this application main stylesheet -->
  {% assets "css_main" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/vendor/jsrender.min.js"></script>

  {% block endhead %}
  {% endblock %}

{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Civil Service Learning</a>
      <ul id="proposition-links">
        <li><a href="{{ url_for('mylearning.index') }}">Home</a></li>
        <li><a href="{{ url_for('learningplan.view_plan') }}">Your learning plan</a></li>
        <li><a href="{{ url_for('learningresource.search') }}">Course search</a></li>
        <li><a href="{{ url_for('digitaldiagnostic.intro') }}">Digital diagnostic</a></li>
        <li><a href="{{ url_for('profile.view_profile') }}">Profile</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}


{% block content %}
  <main id="wrapper" role="main">
    <div id="content">
      <div class="inner-block">
        <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a prototype service</span>
          </p>
        </div>
      </div>

      {% include "_messages.html" %}

      {%block body_content %}
      {% endblock %}

      <div class="report-a-problem-toggle-wrapper js-footer feedback-footer">
        <p class="report-a-problem-toggle"><a href="" class="js-report-a-problem-toggle">Is there anything wrong with this page?</a>
        </p>
      </div>

    </div>
  </main>
{% endblock %}

