
{% extends "rebranded-base.html" %}
{% block body_content %}

{% from "_macros.html" import render_field, render_hidden %}

  {% include "_logout.html" %}

  <h1 class="heading-large">Civil Service Learning</h1>
  <p class="lede">Learn to be a better Civil Servant.</p>

  <div class="grid-row section">
    <div class="column-two-thirds">
      <div class="text">
        <a href="{{ url_for('profile.view_profile') }}">View and edit information about me</a>
      </div>
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Search functionality</h2>
        <ul>
          <li><a href="{{ url_for('learningresource.search') }}">Course search</a></li>
        </ul>
      </div>
    </div>

    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Learning</h2>
        <ul>
          <li><a href="{{ url_for('learningplan.view_plan') }}">Your learning plan</a></li>
          <li><a href="{{ url_for('learningrecord.view_record') }}">Your learning record</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Digital diagnostic</h2>
        <ul>
          <li><a href="{{ url_for('digitaldiagnostic.intro') }}">Start digital diagnostic</a></li>
        </ul>
      </div>
    </div>

    <div class="column-half">
    </div>
  </div>
    

{% endblock %}
