{% extends "base.html" %}

{% block endhead %}

  {% assets "css_learning" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "css_rebrand" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <link rel="stylesheet" href="/static/vendor/font-awesome-4.4.0/css/font-awesome.min.css">

{% endblock %}


{% block body_end %}

  {{ super() }}

  <script src="/static/javascripts/rebrand.js"></script>
  <script src="/static/javascripts/course-search.js"></script>

{% endblock %}