
{% extends "rebranded-base.html" %}
{% block body_content %}

{% from "_macros.html" import render_field, render_hidden %}

  <h1 class="heading-large">Sign in to Civil Service Learning</h1>

  <p class="text"></p>

  <div class="panel-indent panel-indent-info">
    <p>
      If this is your first time here you will need to log in using your government email address.
    </p>
  </div>

  <form action="{{url_for('security.login')}}" method="post" class="form">
    {{ render_field(form.email) }}
    <div class="form-group">
      <button class="button">Sign in</button>
    </div>
    {{ render_hidden(form) }}
  </form>

{% endblock %}
