html {
  background-color: $page-colour;
}

.internal-header {
  width: 100%;
  background: $text-colour;
  padding: $gutter-third $gutter-half;
  color: $page-colour;
  position: relative;
  z-index: 10;

  .internal-header-logo {
    @extend %contain-floats;
  }

  #logo {
    float: left;
    position: relative;
    top: -1px;
    height: 30px;
    overflow: visible;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -3px;
    padding-top: 2px;
    border-bottom: 1px solid transparent;
    background: url(images/gov.uk_logotype_crown.png?0.16.0) no-repeat;
    background-size: 35px 31px;
    background-position: 0 0;
  
    img {
      position: relative;
      top: -2px;
      width: 35px;
      height: 31px;
      padding-right: 8px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none;
      visibility: hidden;
    }
  }

  .sign-out {
    margin-top: 0;
    position: absolute;
    color: $highlight-colour;
    top: 0;
    right: 45px;
    line-height: 50px;

    a {
      color: $highlight-colour;

      &:hover {
        color: $page-colour;
      }
    }
  }
}

.remove-link a {
  color: $secondary-text-colour;
  font-size: 16px;
  padding: 0 10px;
  font-weight: normal;
}

.linked-item {
  padding-left: $gutter;
  position: relative;
  & > a {
    padding: 0 10px;
    font-weight: normal;
  }

  .remove-link {
    position: absolute;
    right: 0;
  }
}

.new-note {
  #content {
    margin: 0;
    padding: 5px;
    width: 100%;
  }
}

.rendered-markdown {
  ul {
    margin: 5px 0 1em;
    list-style: disc;
    padding-left: 15px;

    li {
      margin-left: 10px;
    }
  }
  strong {
    font-weight: bold;
  }
}
