I am reviewing my performance over the last while, and would appreciate it
if you could provide me with any feedback.

Please let me know about any:

* things I should do more of
* things I should stop doing
* things I should start doing
* professional skills I displayed or improved

Your feedback will be shared with me and my manager, and I am using a
new service that stores it online long-term so I can access it later and
track progress or plan my learning.

If you don't feel comfortable sending your feedback to me, you can email my manager or talk to them directly.
