{% extends "base.html" %}
{% block body_content %}

  {% from "_macros.html" import render_field, render_hidden %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <div id="global-breadcrumb" class="header-context">
          <ol role="breadcrumbs" class="group">
            <li><a href="/">Home</a></li>
            <li>Give feedback</li>
          </ol>
        </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
    </div>

  <h1 class="heading-large">Feedback you've sent about colleagues</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <thead>
          <tr><th>Request From</th><th>Replied</th></tr>
        </thead>
        <tbody>
           {% for feedback in feedback_requests %}
            <tr>
              <td>{{feedback.entry.requested_by}}</td>
              <td>
                <a href="{{ url_for('feedback.reply_to_feedback', id=feedback.id) }}">{% if feedback.entry.replied %}Yes{% else %}No{% endif %}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
