{% extends "rebranded-base.html" %}

{% block page_head_end %}
  {% assets "css_learning_resource" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_content %}

  {% include "_logout.html" %}


  <div class="grid-row">
    <main class="column-two-thirds">

      <header class="question">
        <p class="number">{{ res_type|capitalize }}: {{ page_number+1 }} of {{ page_count }}</p>
        <h1 class="heading-large">{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p>{{ page.guide }}</p>
      </header>

      <section>
        <form action="{{ url_for('learningresource.view_course_page', resource_id=course['id'], res_type=res_type, number=page_number, source=source_course) }}" method="POST">

          {% if res_type == 'questions' %}

            <fieldset class="answer-list">
              <legend class="visuallyhidden">{{ page.title }}</legend>

              <div class="form-group">
                {% for (value, caption) in page.get_choices_vals() %}
                <label class="block-label" for="option-{{ loop.index }}">
                  
                  {% if page.is_multichoice %}
                    {% set key = '%s-%s' % (page.tag, loop.index) %}
                    <input id="option-{{ loop.index }}" name="{{ key }}" type="checkbox" value="{{ value }}"
                      {% if page.answer[key] == value %}
                        checked
                      {% endif %}
                    >
                  {% else %}
                    <input id="option-{{ loop.index }}" type="radio" name="{{ page.tag }}" value="{{ value }}"
                      {% if page.answer[page.tag] == value %}
                        checked 
                      {% endif %}
                    >
                  {% endif %}

                  {{ caption }}
                </label>
                {% endfor %}
              </div>
            </fieldset>
            
          {% else %}
            {{ page['content']|safe }}
          {% endif %}
          

          <p id="get-started" class="get-started">
            {% set isLastPage = (page_number+1) == page_count %}  
            <button type="submit" class="button">Next page</button>
          </p>

        </form>
      </section>
    </main>

  </div>

{% endblock %}
