{% extends "rebranded-base.html" %}

{% block page_title %}CSL Courses |  {{ course.title }} {% endblock %}

{% block page_head_end %}
  {% assets "css_learning_resource" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block body_content %}

  {% include "_logout.html" %}

  <div id="global-breadcrumb">
    <ol>
      <li><a href="{{ url_for('mylearning.index') }}">Home</a></li>
      <li><a href="{{ url_for('mylearning.index') }}">Civil Service Learning</a></li>
      <li><a href="{{ url_for('learningresource.search') }}">Courses</a></li>
      <li>{{ course.title }}</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="page-header">
        <h1 class="heading-xlarge">{{ course.title }}</h1>
      </div>

      {% if user_logged_in and course['learningRecord'] %}
        <div class="done-banner">
          <h3 class="heading-medium heading">Passed</h3>
          <dl class="df-inline">
            <dt>Completed on</dt>
            <dd>{{ course['learningRecord']['when']|format_date('%d/%m/%Y') }}</dd>
          </dl>
          {% if course['learningRecord']['result'] and course['learningRecord']['result']['score'] %}
            {% set score = course['learningRecord']['result']['score'] %}
            <dl class="df-inline">
              <dt>Score</dt>
              <dd>{{ ((score['raw']/(score['max'] or 5)) * 100)|round|int }}%</dd>
            </dl>
          {% endif %}
        </div>
      {% endif %}

      
      {% if user_logged_in and pre_course and (not pre_course['learningRecord']) %}
        <div class="warning-banner">
          <p class="bold-small">
            You must complete all <a href="#prereq">pre learning</a> before doing this course.
          </p>
        </div>
      {% endif %}

      <div class="course-description text">
        <h2 class="heading-large">Description</h2>
        {{ course.desc|safe }}

        {% if pre_course %}
          <h2 id="prereq" class="heading-large">Pre learning</h2>
          <p>You must complete all of the following pre requisite courses before taking this course.</p>
          
          <ul class="pre-req-list">
            <li>
              <div class="grid-row">
                <div class="column-two-thirds">
                  <a href="{{ url_for('learningresource.view_resource', resource_id=pre_course.id, source=course.id) }}" class="course-name">{{ pre_course['title'] }}</a>
                </div>
                {% if user_logged_in and pre_course['learningRecord'] %}
                  <div class="column-third status-wrap">
                    <div><span class="flag-done">Done</span></div>
                    <span class="text-secondary"><a class="record-link" href="{{ url_for('learningrecord.view_record') }}">{{ pre_course['learningRecord']['when']|format_date('%d/%m/%Y') }}</a></span>
                  </div>
                {% endif %}
              </div>
            </li>
          </ul>
        {% endif %}

        <h2 class="heading-large">Who might find this useful</h2>
        <ul class="list-bullet">
        {% if course.audience is defined %}
          {% for aud in course.audience %}
          <li>{{ aud }}</li>
          {% endfor %}
        {% else %}
          <li>Administrative Level (AA/AO)</li>
          <li>First Line Managers (EO)</li>
          <li>Middle Managers (HEO/SEO)</li>
          <li>Senior Managers (Grade 6/7)</li>
          <li>Senior Civil Servants (SCS)</li>
        {% endif %}
        </ul>

        {% if not (course.type == 'elearning') and course.price %}
        <h2 class="heading-large">Pricing</h2>
        <p>
          {% if course.duration %}
          This is a {{ course.duration|format_duration|lower }} course.
          {% endif %}

          {% if "Free Resource" in course.price %}
            This course is free.
          {% else %}
            The cost for 1 person is {{ course.price }}.
            {% if course.priceAdditional %}
              {{ course.priceAdditional|safe }}
            {% endif %}
          {% endif %}
        </p>
        <p>For further details please call 020 3367 8316 or email <a href='mailto:info@civilservicelearning.org.uk'>info@civilservicelearning.org.uk</a>.</p>

        {% endif %}


        
        {% if course.outcomes %}
          <h2 class="heading-large">Learning outcomes</h2>
          {{ course.outcomes.blurb|safe }}

          <ul class="list-bullet">
          {% for outcome in course.outcomes.points %}
            <li>{{ outcome }}</li>
          {% endfor %}
          </ul>

          {% if course.outcomes.warning %}
          <div class="panel-indent">{{ course.outcomes.warning|safe }}</div>
          {% endif %}
        {% endif %}
      </div>

      <div class="course-actions">
        {% if user_logged_in %}
          {% if pre_course %}
            {% if pre_course['learningRecord'] %}
              <a href="{{ url_for('learningresource.start', resource_id=course.id, source=source_course) }}" 
                class="button button-start" role="button">Start now</a>
            {% else %}
              <div class="warning-indent">
                <i class="icon-important">
                  <span class="visually-hidden">warning</span>
                </i>
                <p class="warning-message">You must complete all pre requisites before you are able to take this course.</p>
              </div>
            {% endif %}

          {% else %}
            <a href="{{ url_for('learningresource.start', resource_id=course.id, source=source_course) }}" 
              class="button button-start" role="button">Start now</a>

          {% endif %}

        {% else %}
          <a href="{{ url_for('mylearning.login') }}" class="button">Sign in to do this training</a>
        {% endif %}
      </div>


    </div>

    <div class="column-third related-container">
      <aside class="related">
        
        <div class="related-subsection">
          <h2 class="heading-medium">Information</h2>
          <nav>
            <dl class="definition-inline">
              <dt>Product code</dt>
              <dd>DADD13</dd>
              <dt>Duration</dt>
              <dd>{% if course.duration %} {{ course.duration|format_duration }} {% endif %}</dd>
              <dt>Type</dt>
              <dd>{{ course.type }}</dd>
            </dl>  
          </nav>
        </div>
      
        <div class="related-subsection">
          <h2 class="heading-medium">Topics/keywords</h2>
          <nav>
            <ul>
              {% if course.topics is defined %}
                {% for topic in course.topics %}
                <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">{{ topic }}</a></li>
                {% endfor %}
              {% else %}
              <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Core Skills</a></li>
              <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Digital & IT</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>


        <div class="related-subsection">
          <h2 class="heading-medium">Learning opportunities</h2>
          <nav>
            <ul>
              {% if course.relatedOpportunities %}
                {% for opp in course.relatedOpportunities %}
                  <li><a href="{{ opp.url }}">{{ opp.title }}</a></li>
                {% endfor %}
              {% else %}
                <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-listening-users">Digital skills - Listening to users</a></li>
                <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-starting-user-needs">Digital skills - Starting with user needs</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </aside>


    </div>

  </div>




{% endblock %}