/*section {
  border-top: 1px $grey-2 solid;
}*/

.sign-out {
  float: right;
  margin-top: 10px;
  font-size: 16px;
}

.user-details {
  margin: 20px 0px;
}

.user-details h1 {
  margin-top: 0;
}

.user-details p {
  margin-bottom: 10px;
}

.user-name {
  margin-right: 10px;
}



.objective {
  border: 1px $grey-2 solid !important;
  margin: 10px 0px;
}

.objective-header {
  @extend %contain-floats;
  padding: 10px;
}

.toggle {
  float: right;
}

.details {
  border-top: 1px $grey-2 solid;
  padding: 10px;
}

.edit-controls {
  float: right;
  margin-top: -25px;
}

.recipients ul {
  margin: 20px 0px;
}

.recipients li {
  background: $grey-4;
  border: 1px solid $grey-2;
  padding: 15px;
  margin-bottom: 5px;
}

.recipients li:hover {
  border: 1px solid #000;
}

.recipients li a {
  float: right;
}

.search-button {
  padding-top: 5px;
  margin-left: -4px;
  width: 45px;
  height: 38px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  background: #000 no-repeat center url(/static/icons/icon-search.png);
  cursor: pointer;
}

.request-status {
  float: right;
}

.feedback-template {
   border: 1px solid $grey-2;
   padding: 10px;
}

.feedback-template h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.feedback-template ul {
  margin-top: 5px;
  list-style: initial;
  margin-left: 20px;
}

.feedback-template p {
  line-height: 1.2em;
  margin: 10px 0px;
}

.feedback-template {
  word-break: word;
}

.feedback-footer {
  @extend %site-width-container;
  padding: $gutter-half 0;
  font-size: 16px;

  a,
  a:hover,
  a:visited {
    color: $secondary-text-colour;
  }
}

.add-feedback .form-control {
  width: 100%;
}

.log-table {
  table-layout: fixed;
}

.edit-log-entry {

}

.edit-log-entry textarea {
  width: 100%;
}

.edit-log-entry  .form-label {
  font-weight: bold;
}

/* quick hack for override elements
* styles for markdown text area
*/
.details h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.details ul {
  margin-top: 5px;
  list-style: initial;
  margin-left: 20px;
}

/* end quick hack */

/*
* used on the add objective page
*/
.add-objective .form-control {
  width: 100%;
}

.guidance-heading {
  margin-top: 1em;
}

.success-summary {
  @extend .error-summary;
  border-color: $button-colour;
}

.section {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.section .form-control {
  width: 100%;
}

.feedback-message {
  font-family: monospace;
  font-size: 16px;
}

.filter {
  display: inline-block;
  position: relative;
  background: $focus-colour;
  padding: 0 35px 0 10px;
  border-radius: 4px;
  line-height: 45px;
  margin: $gutter 0 0;
}

.filter-off-btn {
  position: absolute;
  background: lighten($focus-colour, 10%);
  right: 0; top: 0;
  height: 100%;
  padding: 0 10px;
  line-height: 45px;
  text-decoration: none;
  border-radius: 0 4px 4px 0;

  &:focus {
    background: lighten($focus-colour, 20%);
    outline: none;
  }
}
