
<li class="plan-item">
{% if item['descriptionLines'] or item.action %}
  <div class="accordion">
    <input type="checkbox" class="plan-item-check">
    <div class="accordion-head inline">
      <span class="more-group">
        <button class="btn-more"><img alt="" src="/static/images/icon-caret-right.png"></button>
        <button class="btn-less"><img alt="" src="/static/images/icon-caret-down.png"></button>
      </span>
      <span class="head-title">{{ item.title }}</span>
      {% if item.isRequired %}
      <span class="required">Required</span>
      {% endif %}
    </div>
    <div class="grid-row accordion-content"> 
      <ul class="description-lines column-two-thirds">
        {% for itemDescLine in item['descriptionLines'] %}
        <li>{{ itemDescLine|safe }}</li>
        {% endfor %}
      </ul>
      {% if item.action %}
      <span class="item-action"><a href="{{ item['action']['url'] }}">{{ item['action']['title'] }}</a></span>
      {% endif %}

    </div>
  </div>

{% else %}
  <div>
    <input type="checkbox" class="plan-item-check">
    <span class="head-title">{{ item.title }}</span>
    {% if item.isRequired %}
    <span class="required">Required</span>
    {% endif %}
  </div>
{% endif %}
</li>

