{% macro render_plan_item(plan_item) %}
  <li class="plan-item js-plan-item" data-statement-id= "{{ plan_item['statementId'] }}">

    {% set hasInformationLines = plan_item['descriptionLines'] or plan_item['infoLines'] %}
    {% set hasActions = plan_item['actions'] %}
    {% set isExpandable = hasInformationLines or hasActions %}
    {% set hasRecords = plan_item.get('records', False) %}

  {% if isExpandable %}
    <div class="accordion">
      <div class="accordion-head inline">
        <span class="more-group">
          <button class="btn-more"><img alt="" src="/static/images/icon-caret-right.png"></button>
          <button class="btn-less"><img alt="" src="/static/images/icon-caret-down.png"></button>
        </span>
        <span class="head-title">{{ plan_item.title }}</span>
        {% if plan_item.get('required', False) %}
        <span class="required">Required</span>
        {% endif %}

        {% if hasRecords %}
        <span class="item-status done">done</span>
        {% endif %}

      </div>
      <div class="grid-row accordion-content"> 
        <div class="column-two-thirds">
          {% if hasInformationLines %}
          <ul class="info-lines">
            {% for itemDescLine in plan_item['descriptionLines'] %}
            <li class="desc">{{ itemDescLine|safe }}</li>
            {% endfor %}

            {% for itemInfoLine in plan_item['infoLines'] %}
            <li class="info">{{ itemInfoLine|capitalize|safe }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if hasRecords %}
          <div class="records">
            <p class="message">Completed on:</p>
            <ul class="record-lines">
              {% for record in plan_item['records'] %}
              <li>{{ record['when']|format_date }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        

        <div class="column-third"> 
          {% if hasActions %}
          <ul class="action-list">
          {% for itemAction in plan_item['actions'] %}
            <li class="action"><a href="{{ itemAction['url'] }}" target="_blank">{{ itemAction['title'] }}</a></li>
          {% endfor %}
          </ul>
          {% endif %}

        </div>

      </div>
    </div>

  {% else %}
    <div>
      <span class="head-title">{{ plan_item.title }}</span>
      {% if plan_item.get('required', False) %}
      <span class="required">Required</span>
      {% endif %}
    </div>
  {% endif %}
  </li>
{% endmacro %}

