{% macro render_plan_item(plan_item) %}
  <li class="plan-item">

    {% set hasInformationLines = plan_item['descriptionLines'] or plan_item['infoLines'] %}
    {% set hasActions = plan_item['actions'] %}
    {% set isExpandable = hasInformationLines or hasActions %}

  {% if isExpandable %}
    <div class="accordion">
      <input type="checkbox" class="plan-item-check">
      <div class="accordion-head inline">
        <span class="more-group">
          <button class="btn-more"><img alt="" src="/static/images/icon-caret-right.png"></button>
          <button class="btn-less"><img alt="" src="/static/images/icon-caret-down.png"></button>
        </span>
        <span class="head-title">{{ plan_item.title }}</span>
        {% if plan_item.get('required', False) %}
        <span class="required">Required</span>
        {% endif %}
      </div>
      <div class="grid-row accordion-content"> 
        {% if hasInformationLines %}
        <ul class="info-lines column-two-thirds">
          {% for itemDescLine in plan_item['descriptionLines'] %}
          <li class="desc">{{ itemDescLine|safe }}</li>
          {% endfor %}

          {% for itemInfoLine in plan_item['infoLines'] %}
          <li class="info">{{ itemInfoLine|safe }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        
        {% if hasActions %}
        <ul class="action-list column-third">
        {% for itemAction in plan_item['actions'] %}
          <li class="action"><a href="{{ itemAction['url'] }}">{{ itemAction['title'] }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

      </div>
    </div>

  {% else %}
    <div>
      <input type="checkbox" class="plan-item-check">
      <span class="head-title">{{ plan_item.title }}</span>
      {% if plan_item.get('required', False) %}
      <span class="required">Required</span>
      {% endif %}
    </div>
  {% endif %}
  </li>
{% endmacro %}

