{% extends "rebranded-base.html" %}

{% block page_head_end %}
  {% assets "css_learning_plan" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_content %}

  {% include "_logout.html" %}

  <div id="global-breadcrumb">
    <ol>
      <li><a href="{{ url_for('mylearning.index') }}">Home</a></li>
      <li><a href="{{ url_for('mylearning.index') }}">Civil Service Learning</a></li>
      <li>Your learning plan</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="heading-xlarge">Your learning plan</h1>
        <p>Showing all items.</p>
        <p><a href="#">Show required items only</a></p>
      </div>


      {% for programme in learning_plan %}
      <div class="accordion">
        <div class="accordion-head">
          <div><span class="highlight">{{ programme.title }}</span></div>
          <span class="more-group">
            <button class="btn-more">show items <img alt="" src="/static/images/icon-caret-left.png"></button>
            <button class="btn-less">hide items <img alt="" src="/static/images/icon-caret-down.png"></button>
          </span>
        </div>
        <div class="accordion-content">
          <ul>
          {% for descLine in programme.descriptionLines %}
          <li>{{ descLine }}</li>
          {% endfor %}
          </ul>

          {% for section in programme.sections %}
          <h4 class="heading-small">{{ section.title }}</h4>
          <ul>
            
              {% for item in section['items'] %}

                {% if item['descriptionLines'] or item.action %}

                  <div class="accordion">
                    <div class="accordion-head">
                      <div>
                        <input type="checkbox">
                        <img alt="" src="/static/images/icon-caret-right.png">
                        <span class="highlight">{{ item.title }}</span>
                        {% if item.isRequired %}
                        <span>Required</span>
                        {% endif %}
                      </div>
                    </div>
                    <div class="accordion-content"> 
                      <ul>
                      {% for itemDescLine in item['descriptionLines'] %}
                      <li>{{ itemDescLine|safe }}</li>
                      {% endfor %}
                      </ul>
                      
                      {% if item.action %}
                      <span><a href="{{ item['action']['url'] }}">{{ item['action']['title'] }}</a></span>
                      {% endif %}

                    </div>
                  </div>
                {% else %}
                  <div>
                    <input type="checkbox">
                    <span class="highlight">{{ item.title }}</span>
                    {% if item.isRequired %}
                    <span>Required</span>
                    {% endif %}
                  </div>
                {% endif %}

              {% endfor %}

          </ul>
          {% endfor %}
          
          <ul>
            {% for item in programme['items'] %}
            <li><input type="checkbox">{{ item.title }}</li>
            {% endfor %}
          </ul>



        </div>
      </div>
      {% endfor %}


    </div>
    
    <div class="column-third related-container">
      <aside class="related">
        <div class="related-subsection">
          <h2 class="heading-medium">Civil Service Learning</h2>
          <nav>
            <ul>
              <li><a href="{{ url_for('learningplan.view_plan') }}">Your learning plan</a></li>
              <li><a href="#">Your learning suggestions</a></li>
              <li><a href="{{ url_for('learningrecord.view_record',record_id=234) }}">Your learning record</a></li>
              <li><a href="{{ url_for('profile.view_profile') }}">Your profile</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>

  </div>

{% endblock %}
