// ==========================================================================
//     Toggle content
// ========================================================================== */
.hide, .if-no-js-hide, .js-enabled .if-js-hide {
  display: none;
}

.js-enabled .if-no-js-hide {
  display: block;
}

.rm, .js .if-js-rm {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.subsection-controls {
  text-align: right;
  width: 100%;
}

.subsection-controls button {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  display: inline;
  cursor: pointer;
  background: none;
  border: none;
  color: #005ea5;
  text-decoration: underline;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 641px) {
  .subsection-controls button {
    font-size: 16px;
    line-height: 1.25;
  }
}

.subsection-controls .if-no-js-hide {
  display: none;
}

.js-enabled .subsection-controls .if-no-js-hide {
  display: inline;
}

.subsection-controls button[disabled=disabled] {
  cursor: default;
  color: #6f777b;
  text-decoration: none;
}

.subsection-wrapper {
  border-top: 1px solid #bfc1c3;
}

.subsection {
  width: 100%;
}

.subsection__button {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  background: #FFF;
  padding: 1em 0;
}

.subsection__button:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.js-subsection-closed .subsection__button {
  border-bottom: 1px solid #bfc1c3;
}

.subsection__title {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  color: #005ea5;
}

@media (min-width: 641px) {
  .subsection__title {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.subsection__description {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
}

@media (min-width: 641px) {
  .subsection__description {
    font-size: 16px;
    line-height: 1.25;
  }
}

.subsection__items {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bfc1c3;
}

.subsection__items li {
  margin-bottom: 0.25em;
}

.subsection__items li a {
  text-decoration: none;
}