html {
  background-color: #fff;
}

.user-account {
  border: 1px solid #000;
  margin: 30px;
  padding: 20px;
}

add-form {
  border: 1px solid #DDD;
  margin: 20px;
  padding: 20px;
}

textarea {
  line-height: 24px;
  font-size: 16px;
  width: 45%;
  margin: 10px;
  display: inline;
}

.cancel {
  display: inline-block;
  margin-left: 80%;
  margin-top: 10px;
}

#message {
  border: 1px solid #ccc;
  padding: 20px;
  display: none;
}

.actions {
  margin-left: 75%;
}

section {
  border: 1px solid #DDD;
  margin-top: 15px;
  padding: 15px;
}
