<div class="content-nav-main">
  <h2 class="heading-medium">
    Recent notes
  </h2>
  <div class="content-nav-action"><a href="{{ url_for('notes.create') }}">+ create note</a></div>
  <ul class="content-nav-list">
  {% for other_note in current_user.notes[:5] %}
    <li>
    {%- if note and note == other_note -%}
      <a class="current" href="">{{ other_note.entry.content|truncate(35) }}</a>
    {%- else -%}
      <a href="{{ url_for('notes.view', id=other_note.id) }}">{{ other_note.entry.content|truncate(35) }}</a>
    {%- endif -%}
  {% endfor %}
  </ul>
  {% if current_user.notes|length > 5 %}
  <div class="content-nav-action"><a href="">see more</a></div>
  {% endif %}
</div>
