@import '../rebrand/rebrand.scss';

.question{
  padding-top: 2em;
  .number{
    margin-bottom: 0;
    color: $grey-1;
  }
  h1{
    margin-top: 0.5em;
  }
}

.result-header{
  max-width: 36em;
}

.block-label{
  float: none;
}

.column-full{
  @include grid-column(1);
}

.recommendation-area{
  h1 {

  }
}

table.recommendation-items {
  width: 100%;

  tbody tr td{
    &:first-child { width: 50%; }
    &:nth-child(2) { width: 15%; }
    &:nth-child(3) { width: 10%; }
    &:nth-child(4) { width: 15%; }
    &:last-child { min-width: 100%; }
  }
}