{% extends "rebranded-base.html" %}

{% block page_head_end %}
  {% assets "css_digital_diagnostic" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_content %}

  {% include "_logout.html" %}

  <div id="global-breadcrumb">
    <ol>
      <li><a href="{{ url_for('mylearning.index') }}">Home</a></li>
      <li><a href="{{ url_for('mylearning.index') }}">Civil Service Learning</a></li>
      <li>Test your digital knowledge</li>
    </ol>
  </div>

  <div class="grid-row">
    <main class="column-two-thirds">
      <header class="page-header">
        <h1 class="heading-xlarge">Test your digital knowledge</h1>
      </header>

      <section>
        <p>
          Take this test to find out what you're good at and where you can improve. We'll use your results to find you learning opportunities.
        </p>
        <p id="get-started" class="get-started">
          <a href="{{ url_for('digitaldiagnostic.start') }}" class="button" role="button">Start now</a>
        </p>
      </section>
    </main>

  </div>

{% endblock %}
