{% extends "rebranded-base.html" %}

{% block page_head_end %}
  {% assets "css_digital_diagnostic" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block body_content %}

  {% from "_macros.html" import render_field, render_hidden %}

  {% include "_logout.html" %}

  <div id="global-breadcrumb">
    <ol>
      <li><a href="{{ url_for('mylearning.index') }}">Home</a></li>
      <li><a href="{{ url_for('mylearning.index') }}">Civil Service Learning</a></li>
      <li>Diagnostic {{ questionNo+1 }} of {{ question_count }}</li>
    </ol>
  </div>

  <div class="grid-row">
    <main class="column-two-thirds">
      <header class="question">
          <h1>{{ question.title }}</h1>
      </header>
      <form action="{{ url_for('digitaldiagnostic.question', number=questionNo) }}" method="POST">
        <fieldset class="question">
          <legend class="visuallyhidden">{{ question.title }}</legend>

          <div class="form-group">
            {% for (value, caption) in question.get_choices_vals() %}
            <label class="block-label" for="option-{{ loop.index }}">
              
              {% if question.is_multichoice %}
                {% set key = '%s-%s' % (question.tag, loop.index) %}
                <input id="option-{{ loop.index }}" name="{{ key }}" type="checkbox" value="{{ value }}"
                  {% if question.answer[key] == value %}
                    checked
                  {% endif %}
                >
              {% else %}
                <input id="option-{{ loop.index }}" type="radio" name="{{ question.tag }}" value="{{ value }}"
                  {% if question.answer[question.tag] == value %}
                    checked 
                  {% endif %}
                >
              {% endif %}

              {{ caption }}
            </label>
            {% endfor %}
          </div>
        </fieldset>
          
        <button type="submit" class="button">Continue</button>
      </form>

    </main>

    
    <div class="column-third related-container">
      <aside class="related">
        <div class="related-subsection">
          <h2 class="heading-medium">Civil Service Learning</h2>
          <nav>
            <ul>
              <li><a href="{{ url_for('learningplan.view_plan') }}">Your learning plan</a></li>
              <li><a href="#">Your learning suggestions</a></li>
              <li><a href="{{ url_for('learningrecord.view_record',record_id=234) }}">Your learning record</a></li>
              <li><a href="{{ url_for('profile.view_profile') }}">Your profile</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>

  </div>

{% endblock %}
