{% extends "base.html" %}
{% block body_content %}

  {% include "_logout.html" %}

  {% from "_macros.html" import render_field, render_hidden %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/">Home</a></li>
          <li><a href="{{url_for('profile.view_profile')}}">Profile</a></li>
          <li>Update details</li>
        </ol>
      </div>
    </div>
  </div>

  <h1 class="heading-large">Edit your details</h1>

  <p class="text lede">Use the form to update your details</p>

  <form action="{{url_for('profile.update_details')}}" method="post" class="form">
    {{ render_field(form.grade) }}
    {{ render_field(form.profession) }}
    <div class="form-group">
      <button class="button">Update details</button>
      <div><a href="{{url_for('profile.view_profile')}}">Cancel and return to profile</a></div>
    </div>
    {{ render_hidden(form) }}
  </form>

{% endblock %}
