{% extends "3colbase.html" %}
{% from "_macros.html" import linked_with %}

  {% block content_nav %}
    <div class="content-nav-main">
      <h2 class="heading-medium">
        Competencies
      </h2>
      <ul class="content-nav-list">
        {% for comp in competencies %}
        <li><a {% if competency and competency.id == comp.id %}class="current"{% endif %} href="{{ url_for('competency.view', id=comp.id) }}">{{ comp.name }}</a></li>
        {% endfor %}
      </ul>
      <!--<div class="content-nav-action"><a href="">see more</a></div>-->
    </div>
  {% endblock %}


{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if not competency %}
      <h1 class="heading-large">Competency framework</h1>
      {% else %}
      <h1 class="heading-large"><span class="heading-secondary">Competency framework</span>{{ competency.name }}</h1>
      {% endif %}
    </div>
  </div>

  {% if not level %}
  <form method="post">
    <fieldset>
      <label>
        Help us show the relevant behaviours for this competency by
        providing your grade
        {{ form.grade }}
      </label>
      <button>Save</button>
  </form>
  {% elif not competency %}
  <p class="lede">Select a competency to view from the list</p>

  {% else %}
  <p>Your grade: {{ current_user.grade }}</p>
  <form method="post">
  <table>
    <thead>
      <tr>
        <th colspan="2">Level {{ level.level_id }} ({{ level.description }})</th>
      </tr>
      <tr>
        <th>Effective</th>
        <th>Ineffective</th>
      </tr>
    </thead>
    <tbody>
      {% for behaviour in behaviours %}
      <tr>
        <td>
          <label>
            <!--<input id="behaviours-{{ loop.index0 }}" type="checkbox" name="behaviours" value="{{ behaviour.id }}">-->
            {{ behaviour.effective }}
          </label>
        </td>
        <td><p>{{ behaviour.ineffective }}</p></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>
          {% if prev_level %}
          <a href="{{ url_for('competency.view', id=competency.id, level_id=prev_level.id) }}">Previous Grade</a>
          {% endif %}
        </td>
        <td>
          {% if next_level %}
          <a href="{{ url_for('competency.view', id=competency.id, level_id=next_level.id) }}">Next Grade</a>
          {% endif %}
        </td>
    </tfoot>
  </table>
  </form>
  {{ linked_with(competency.links) }}
  {% endif %}
  
{% endblock %}

  {% block content_links %}

  {% if competency %}
  <h2 class="heading-medium">Link competency with</h2>
  <form class="form" method="post" action="{{ url_for('competency.link', id=competency.id) }}">
    <div class="form-group">
      <label class="form-label">Objectives</label>
      <select id="objectives" name="objectives" class="form-control">
        {% for objective in current_user.objectives %}
        <option value="{{ objective.id }}">{{ objective.entry.title|default(objective.entry.what)|truncate(40) }}</option>
        {% endfor %}
      </select>
      <button>add</button>
    </div>
  </form>
  {% endif %}

  {% endblock %}


{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
